{% extends 'base.html' %}
{% load static %}

{% block title %}
List Jenis Pekerjaan
{% endblock title %}

{% block style %}

{% endblock style %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-12">
                <div class="page-header float-left">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'home' %}">Dashboard</a></li>
                            <li class="active">List Kota/Kabupaten</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="content">
    <div class="animated fadeIn">
            <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row m-0">
                            <div class="col">
                                <strong class="card-title">List Kota</strong>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                    <th class="th-sm">No

                                    </th>
                                    <th class="th-sm">Kode

                                    </th>
                                    <th class="th-sm">Nama Kota/Kabupaten

                                    </th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in datas %}
                                    <tr>
                                        <td class="serial">{{forloop.counter}}</td>
                                        <td>{{data.kode}}</td>
                                        <td>{{data.nama_kota}}</td>
                                    </tr>
                                    
                                    {% endfor %}
                                </tbody>
                                
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}

{% endblock script %}