asgiref==3.2.7
astroid==2.4.0
attrs==19.3.0
autopep8==1.5.2
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.5
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distro==1.5.0
Django==3.0.5
django-autocomplete-light==3.5.1
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-decorator-include==2.1
django-filter==2.2.0
django-searchable-select==1.5.0
django-tables2==2.3.1
django-tables2-reports==0.1.3
django-tempus-dominus==5.1.2.13
djangorestframework==3.11.0
entrypoints==0.3
et-xmlfile==1.0.1
html5lib==1.0.1
idna==2.8
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itypes==1.2.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lml==0.0.9
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.1
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow==7.1.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
pycodestyle==2.5.0
pyexcel-io==0.5.20
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
Pygments==2.6.1
pylint==2.5.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyreadline==2.1
pyrsistent==0.16.0
python-axolotl==0.2.3
python-datauri==0.2.8
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==4.7.3
QtPy==1.9.0
reportlab==3.5.42
requests==2.22.0
Send2Trash==1.5.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.1
tablib==1.1.0
tabula-py==2.1.1
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xhtml2pdf==0.2.4
xlrd==1.2.0
xlwt==1.3.0
yowsup2==2.5.2
