{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Human Capital - Tambah Karir
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/dist/css/select2.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}"> {% endcomment %}
{% endblock style %}

{% block content %}
<div class="content">
    <div class="animated fadeIn">

        <div class="row">
                    
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">Input Karir Karyawan</div>
                    <div class="card-body card-block">
                        <form method="post" class="">
                            {% csrf_token %}
                            
                            {{form|crispy}}
                            <div class="row m-0">
                                <div class="col" align="right">
                                    <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
                                    <a href="{% url 'hcp:karir' %}" class="btn btn-primary btn-sm"
                                        role="button">Batal</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </div><!-- .animated -->
</div><!-- .content -->
{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>


{% endblock script %}